extends ./common/jade/template
block meta
	-var title = "あいまいもこ"
	-var description = ""
	-var keyword = ""
	-var og_name = "";
	-var og_title = "";
	-var og_description = "";
	-var og_url = "";
	-var og_img = "";
	-var dir_root = "./";
	-var css = "./css/index.css";
block js

block css

block contents
	#mv
		.inner
			p.mv__visual
				img(src="./images/mv_visual.jpg",alt="あいまいもこ")
	#movie
		.inner
			.movie__inner
				ul.movieList
					li.list
						.movie
							<iframe id="content" src="https://www.youtube.com/embed/UrakHyi20Ns" frameborder="0" allowfullscreen></iframe>
						.description
							.textimg
								img(src="./images/movie_title1.png")
					li.list
						.movie
							<iframe id="content" src="https://www.youtube.com/embed/rGmRieRx9Zo" frameborder="0" allowfullscreen></iframe>
						.description
							.textimg
								img(src="./images/movie_title2.png")
					li.list
						.movie
							<iframe id="content" src="https://www.youtube.com/embed/beOp-gfv9-0" frameborder="0" allowfullscreen></iframe>
						.description
							.textimg
								img(src="./images/movie_title3.png")